header {
  width: 1080px;
  height: 60px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.76);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-container {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}

.hero-img {
  width: 540px;
  height: 360px;
  left: 0px;
  top: 0px;

  background: url(hero_image.jpg);
}

.hero-container {
  display: flex;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  position: absolute;
  width: 450px;
  height: 88px;
  left: 589px;
  top: 77px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-decoration-line: underline;

  color: #a479ff;
}

p {
  position: absolute;
  width: 389px;
  height: 45px;
  left: 619px;
  top: 222px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #535353;
}

.button {
  position: absolute;
  width: 223px;
  height: 33px;
  left: 702px;
  top: 360px;

  background: #a479ff;
  border-radius: 5px;
}

.line {
  position: absolute;
  width: 700px;
  height: 0px;
  left: 189px;
  top: 471px;

  border: 1px dashed #535353;
}

.team-container {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 529px;
  left: 0px;
  top: 522px;

  background: #ffffff;
}

h2 {
  width: 450px;
  height: 34px;
  left: 315px;
  top: 30px;
  align-self: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;

  color: #a479ff;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  align-self: center;
}

figure {
  box-sizing: border-box;

  width: 195px;
  height: 200px;
  left: 177px;
  top: 69px;
  align-items: center;
  text-align: center;

  border: 1px solid #a5a5a5;
  border-radius: 5px;
}

.member {
  width: 100px;
  height: 100px;
  left: 38px;
  top: 13px;

  background: url(face-icon-png-4282.png);
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #535353;
}

a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #535353;
}

.horizontal_dotted_line {
  width: 110px;
  height: 0px;
  left: 35px;
  top: 144px;

  border: 1px dashed #535353;
}

footer {
  position: absolute;
  width: 1080px;
  height: 180px;
  left: 0px;
  top: 1095px;

  background: #535353;
}

.logofoot {
  width: 226px;
  height: 60px;
  left: 0px;
  top: 60px;
  align-self: center;

  background: url(logo.png);
}

.foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h4 {
  width: 141px;
  height: 17px;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
}

li {
  width: 173px;
  height: 20px;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
